.wrapper {
	position: relative;

	.select_dropdown {
		position: absolute;
		width: 95vw;
		max-height: 150px;
		background-color: #f1f1f1;
		overflow: auto;
		z-index: 10;

		li {
			padding: 6px 3px;
			border-bottom: 1px solid #aaaaaa;
			border-left: 1px solid #aaaaaa;
			border-right: 1px solid #aaaaaa;
		}
	}
}
