.wrapper {
	display: flex;
	justify-content: space-around;
	height: 48px;

	li {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 6px;
		border-right: 1px solid #aaaaaa;
		border-top: 1px solid #aaaaaa;
	}

	:last-child {
		border-right: none;
	}
}
