.wrapper {
	.timeline_root {
		padding: 8px 0;

		p {
			margin: 0;
			font-size: 14px;
		}

		.timeline_info {
			display: flex;
			justify-content: space-between;
		}

		.timeline_date {
			display: none;
		}
	}
}
