.wrapper {
	.file {
		opacity: 0;
		width: 0.1px;
		height: 0.1px;
		position: absolute;
	}

	.not_files {
		text-align: center;
		padding-top: 15px;
		font-size: 1.3rem;
		font-weight: 500;
		color: #868686;
	}

	.file_input label {
		margin: 20px auto 0;
		display: block;
		position: relative;
		width: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		border-radius: 25px;
		background: linear-gradient(40deg, #ff6ec4, #7873f5);
		box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
		color: #fff;
		font-weight: bold;
		cursor: pointer;
		transition: transform 0.2s ease-out;
	}

	input:hover + label,
	input:focus + label {
		transform: scale(1.02);
	}

	input:focus + label {
		outline: 1px solid #000;
		outline: -webkit-focus-ring-color auto 2px;
	}
}
