.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 9px;
	border-bottom: 1px solid #aaaaaa;

	p {
		flex: 1;
	}

	a {
		margin-left: 15px;
	}

	input[type='image'] {
		height: 20px;
		margin-right: 10px;
	}
}
