.wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 40px;
	border-bottom: 1px solid #aaaaaa;

	.choosen {
		background-color: #cacaca;
	}

	li {
		display: flex;
		font-size: 0.9rem;
		align-items: center;
		padding: 1px 4px;
		overflow: hidden;
	}

	p {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-top: 2px;
	}

	.task_mark {
		width: 16px;
		height: 16px;
		border-radius: 1000px;
		margin-right: 3px;
	}

	.all {
		background-color: var(--task-all);
	}

	.new {
		background-color: var(--task-new);
	}

	.in_progress {
		background-color: var(--task-in-progress);
	}

	.done {
		background-color: var(--task-done);
	}

	.defect {
		background-color: var(--task-defect);
	}
}
