.wrapper {
	position: relative;
	background-color: #f7f7f7;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	width: 70vw;
	padding: 7px;

	.name {
		font-weight: 500;
		padding-bottom: 5px;
	}

	.date {
		font-weight: 500;
		padding-top: 5px;
	}

	.readed_mark {
		position: absolute;
		right: 5px;
		bottom: 0;

		img {
			width: 20px;
			height: 20px;
		}
	}
}
