.form_wrapper {
	display: flex;
	flex-direction: column;
	padding: 3px 7px 0 10px;
	font-size: 12px;

	p {
		font-weight: 500;
		padding: 3px 0 2px 0;
	}

	label {
		width: 100%;
	}

	input {
		width: 100%;
		height: 25px;
		border: 1px solid black;
	}

	select {
		width: 100%;
		height: 25px;
		border: 1px solid black;
	}

	textarea {
		height: 100px;
		width: 100%;
		font-size: 15px;
		border: 1px solid black;
	}

	.btn_file {
		position: relative;
		height: 40px;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		background-color: #4caf50;
		z-index: -5;
		margin: 10px 0;
		p {
			font-weight: 400;
			position: relative;
			top: 10px;
			z-index: 0;
		}
	}

	input[type='file'] {
		display: none;
	}

	.btn_sub {
		display: inline-block;
		height: 40px;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		background-color: #4caf50;
	}
}
