.wrapper {
	position: sticky;
	display: flex;
	flex-direction: row-reverse;
	height: 50px;
	padding: 0 10px;

	background-color: white;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	justify-content: space-between;

	.toggle_switch {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.title_weight {
		font-weight: 500;
	}

	.task_img {
		width: 40px;
		width: 40px;
	}
}
