.wrapper {
	position: sticky;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 0 10px 0 0;
	background-color: white;
	border-bottom: 1px solid var(--border-color);

	.toggle_switch {
		display: flex;
		align-items: center;
		text-align: center;
		overflow: hidden;

		.search {
			display: flex;
			justify-content: center;
			align-items: center;

			// .search_icon {
			// 	width: 16px;
			// 	height: 16px;
			// 	margin-left: 5px;
			// }

			input {
				height: 30px;
				margin: 0 0 0 5px;
				padding: 6px 5px 4px 5px;
				border: 1px solid gray;
				border-right: 0;
				width: 70%;
				min-width: 50px;
			}

			.close_icon {
				width: 30px;
				height: 30px;
				padding: 8px;
				border: 1px solid gray;
				border-left: 0;
				margin-right: 5px;
			}
		}
	}

	.title_weight {
		font-weight: 500;
	}

	.task_img {
		width: 40px;
		width: 40px;
	}
}
