.wrapper {
	display: flex;
	flex-direction: row-reverse;
	height: 60px;
	padding: 0 10px;

	background-color: white;
	align-items: center;
	border-bottom: 1px solid black;
	justify-content: space-between;

	.toggle_switch {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.switch_title {
		font-weight: 500;
	}

	.task_img {
		width: 40px;
		width: 40px;
	}
}
