.wrapper {
	display: flex;
	width: 100%;


	font-size: 13px;
	font-weight: 400;
	border-bottom: 1px solid black;

	p {
		padding: 2px;
	}

	.indication_mark {
		height: 16px;
		min-width: 16px;
		border-radius: 100px;
		margin: 10px;
	}

	.task_data {
		padding: 6px 20px 0 0;
		display: flex;
		flex: 1;
		flex-direction: column;
		.date {
			align-self: end;
			padding: 5px 0;
		}
	}

	.done {
		background-color: green;
	}

	.in_progress {
		background-color: blue;
	}

	.new {
		background-color: red;
	}

	hr {
		margin-top: 10px;
	}

	span {
		font-weight: 500;
	}
}


.desc {
	background: #e3e3e3;
	padding: 5px !important;
	font-size: 14px;
	margin: 8px 0;
	border-radius: 3px;
}