.wrapper {
	display: flex;
	width: 100%;
	padding: 5px 10px 0 0;
	font-size: 12px;
	border-bottom: 1px solid black;

	p {
		padding: 3px;
	}

	.indication_mark {
		height: 25px;
		min-width: 25px;
		border-radius: 100px;
		margin: 10px;
	}

	.task_data {
		display: flex;
		flex: 1;
		flex-direction: column;
		.date {
			align-self: end;
		}
	}

	.done {
		background-color: green;
	}

	.in_progress {
		background-color: blue;
	}

	.new {
		background-color: red;
	}

	hr {
		margin-top: 10px;
	}
}
