.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 20;

	header {
		display: flex;
		padding: 10px 20px;
		justify-content: space-between;
		border-bottom: 1px solid black;
		img {
			width: 30px;
			height: 30px;
		}
	}

	.form_wrapper {
		padding: 5px 7px;
		.input_text {
			width: 100%;
			height: 50px;
			// min-height: 50px;
			border: 1px solid #aaaaaa;
			border-radius: 4px;
			padding: 5px 10px;
			outline: none;
		}
		label {
			p {
				padding-bottom: 0;
				font-weight: 500;
			}
			font-size: 14px;
		}
		.btn {
			padding: 10px 20px;
			text-align: center;
			border: none;
			outline: none;
			margin-bottom: 10px;
			margin-top: 10px;
			border-radius: 4px;
			font-weight: 500;
			font-size: 15px;
			color: white;
		}

		.sub_btn {
			background: green;
			display: block;
		}

		.files_btn {
			background: red;
		}

		input[type='file'] {
			display: none;
		}

		.right_block {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
}
