.wrapper {
	display: flex;
	font-size: 13px;
	font-weight: 400;
	border-bottom: 1px solid #aaaaaa;
	position: relative;
	p {
		padding: 2px;
	}

	.indication_mark {
		height: 16px;
		min-width: 16px;
		border-radius: 100px;
		margin: 10px 0 0 10px;
	}

	.task_data {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 6px 10px 0 10px;
		.date {
			align-self: end;
			padding: 5px 0;
		}
	}

	.new {
		background-color: var(--task-new);
	}

	.done {
		background-color: var(--task-done);
	}

	.in_progress {
		background-color: var(--task-in-progress);
	}

	.defect {
		background-color: var(--task-defect);
	}

	hr {
		margin-top: 10px;
	}

	span {
		font-weight: 500;
	}

	.desc {
		background: #e3e3e3;
		padding: 5px !important;
		font-size: 14px;
		margin: 8px 0;
		border-radius: 3px;
	}

	.flex_div {
		display: flex;
		justify-content: space-between;
	}

	.readed {
		text-align: right;
		font-weight: 500;
	}
}

.defect {
	border: 1px solid red;
	border-radius: 5px;
}

.brack_shtamp {
	position: absolute;
	right: 15px;
	top: 55px;
	transform: rotate(45deg);
	color: red;

	border-radius: 7px;
	font-weight: 700;
	border: 2px solid red;
	padding: 3px 20px;
	font-size: 25px;
}

.white {
	background: white;
}
