.wrapper {
	display: flex;
	font-size: 13px;
	font-weight: 400;
	border-bottom: 1px solid black;

	p {
		padding: 2px;
	}

	.indication_mark {
		height: 16px;
		min-width: 16px;
		border-radius: 100px;
		margin: 10px;
	}

	.task_data {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 6px 20px 0 0;
		.date {
			align-self: end;
			padding: 5px 0;
		}
	}

	.done {
		background-color: var(--task-done);
	}

	.in_progress {
		background-color: var(--task-in-progress);
	}

	.new {
		background-color: var(--task-new);
	}

	hr {
		margin-top: 10px;
	}

	span {
		font-weight: 500;
	}

	.desc {
		background: #e3e3e3;
		padding: 5px !important;
		font-size: 14px;
		margin: 8px 0;
		border-radius: 3px;
	}

	.flex_div {
		display: flex;
		justify-content: space-between;
	}

	.readed {
		text-align: right;
		font-weight: 500;
	}
}
