@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
	--task-new: #2686de;
	--task-in-progress: #f59f00;
	--task-done: #34b334;
	--task-defect: #f50000;
	--task-all: #b000f5;

	--main-color: #ffffff;
	--second-color: #aaaaaa;

	--border-color: #aaaaaa;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	height: 100%;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
	list-style-type: none;
}
