.wrapper {
	display: flex;
	flex-direction: column;
	padding: 1px 0 5px 0;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;

	.task_name {
		font-size: 0.9rem;
		font-weight: 500;
	}

	.status {
		font-size: 0.9rem;
		font-weight: 500;
	}

	.comment {
		padding: 5px 8px;
		background-color: #e3e3e3;
		margin: 5px 8px 10px 8px;
		// font-size: 0.9rem;
	}

	p {
		padding: 4px 8px 0 8px;
	}

	.date {
		align-self: flex-end;
		font-size: 0.9rem;
		font-weight: 500;
	}
}

.report {
	background-color: rgb(216, 247, 212);
	.comment {
		background-color: #adc4a7;
	}
}

.deffect {
	background-color: rgb(255, 210, 210);
	.comment {
		background-color: #d6b0b0;
	}
}
