.wrapper {
	display: flex;
	justify-content: space-between;

	li {
		position: relative;
		padding: 6px;
		border-right: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
		width: 25%;
		display: flex;
		justify-content: center;
	}

	img {
		width: 35px;
	}

	.active {
		border-bottom: 1px solid #aaaaaa00;
	}

	:last-child {
		border-right: none;
	}

	.unreaded_mark {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		position: absolute;
		right: 20px;
		width: 18px;
		height: 18px;
		background-color: red;
		color: white;
		border-radius: 9999px;
	}
}
