.wrapper {
	img {
		width: 100%;
	}

	.dropdown {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6px 9px;
		border-bottom: 1px solid #aaaaaa;

		p {
			flex: 1;
		}

		.btns {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			width: 65px;

			input[type='image'] {
				height: 20px;
				margin-right: 10px;
			}
		}

		.title {
			font-weight: 500;
			margin-left: 15px;
		}

		hr {
			width: 100%;
			margin: 0 25px;
		}
	}
}
