.wrapper {
	display: flex;
	align-items: center;
	padding-bottom: 25px;

	.info_block {
		display: flex;
		flex-direction: column;
		padding-left: 10px;

		.date {
			font-size: 0.8rem;
			font-weight: 500;
		}
	}

	.point {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		z-index: 2;

		width: 25px;
		height: 25px;
		background-color: gray;

		border-radius: 9999px;
	}

	.stick {
		position: absolute;
		height: 38px;
		width: 3px;

		top: 40px;
		left: 50%;

		z-index: 1;

		transform: translate(-50%, -50%);

		background-color: gray;
	}

	.active {
		background-color: blue;
		z-index: 2;
		&::before {
			background-color: blue;
		}
	}

	.active_font {
		color: blue;
		font-weight: 500;
	}

	.defect {
		background-color: red;
		z-index: 2;
		&::before {
			background-color: red;
		}
	}

	.defect_font {
		color: rgb(153, 2, 2);
		font-weight: 500;
	}
}
